.landing-page-container {
  overflow-x: hidden;
}

.width-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  article {
    width: 100%;
    max-width: 1500px;
    height: 100%;
  }
}

.reason-section {
  display: flex;
  text-align: center;
  justify-content: center;
}
