.landing-page-container {
  overflow-x: hidden;
}

.width-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;

  article {
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
    height: 100%;
  }
}

.reason-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  position: relative;

  h2 {
    text-decoration: underline;
  }

  p {
    line-height: 32px;
    margin-top: 25px;
  }

  .reason-section__background {
    width: 100%;
    height: 100%;
    opacity: 3%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
