.container {
  width: 100%;
  height: 300px;
  padding: 0 15px;
  margin-bottom: 35px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  .video {
    display: flex;
    border-radius: 15px;
    align-self: center;
    width: 320px;
    max-width: 100%;
    height: 275px;
  }
  .info-box {
    line-height: 24px;
    padding-left: 35px;
    width: 65%;
    font-size: 14px;

    ul {
      list-style: none;
      margin: 0;
      display: flex;
      width: 70%;
      justify-content: space-between;
    }

    .info-box__description {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      height: 100px;
      font-family: "Montserrat", sans-serif;

      @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}
