.leaflet-container {
  height: 100vh;
  width: 100%;
  background: #bbe2f2;
}

.info {
  padding: 15px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  .info__heading {
    margin: 0 0 5px;
    color: #777;
  }
}
